# Database to pandas dataframe
Most data evaluation start with a pandas dataframe. So the rest of the group does not have to deal with the sql database i have decided to create this template so everyone can start form the pandas dataframe

In [2]:
import sqlite3
import pandas as pd
con = sqlite3.connect("../unified_CD2.db")
cur = con.cursor()

df = pd.read_sql_query("SELECT * FROM prod_desc", con)
df

DatabaseError: Execution failed on sql 'SELECT * FROM prod_desc': no such table: prod_desc